<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Mini URL</title>
</head>
<body>

	<header th:insert="fragments/navbar.html :: navbar"> </header>

	<div class="jumbotron">
		<div class="container">

			<div class="starter-template">

				<h1 th:text=${status}>URL shortener error</h1>
				<small th:text=${timestamp}>Error</small>
				<p class="lead" th:text=${error}>This is an error message.</p>
				<p class="lead" th:text=${message}>Error timestamp.</p>
			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
</html>