<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Mini URL</title>
</head>
<body>

	<header th:insert="fragments/navbar.html :: navbar"> </header>

<div class="container">
	<h1>Result</h1>
	
	<div class="alert alert-warning" role="alert" th:if="${warning == 'fail' }">
     WARNING: Already there exist this short link! 
	</div>
	<div class="alert alert-success" role="alert" th:if="${warning != 'fail' }">
     SUCCESS: Generation was succeed! 
	</div>
	<p th:text="'original: ' + ${formdata.url}" />
	<p th:text="'userdefinition ' + ${formdata.userdefiniton}" />
	<p th:text="'sortedurl ' + ${sortedurl}" />
	<a href="/generatesort">Make new sort link</a>
</div><!-- container -->
</body>
</html>