<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">	
<!-- Latest compiled and minified JavaScript -->
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Mini URL</title>
</head>
<body>
	<header th:insert="fragments/navbar.html :: navbar"> </header>
<div class="container">
		<div class="row border">		
			<div class="col-sm-12">
				<h1>URL list</h1>
				<p class="lead">Here you can see , all shorted url with original link.</p>
				
			</div>		
		</div>
</div>
		<!-- /.container -->

	<div class="container">
		<input class="form-control" id="myInput" type="text" placeholder="Search.."><br>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Short url</th>
					<th>Original url</th>
				</tr>
			</thead>
			<tbody th:each="url : ${urls}" id="myTable">
				<tr>
					<td th:text="${url.shorturl}">Short url</td>
					<td th:text="${url.originalurl}">Original url</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /.container -->
	<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
</body>
</html>